body {
    background-color: #5a155e;
    font-family: 'Maven Pro', sans-serif;
   /* background-image: url(images/background.png);*/
   margin: 0 ;
    padding: 0 ;
}

/* header h1  {
    background: url(images/catuskov.png) no-repeat;
    background-size: 60%;
    height:16.555555em;
	width:11em;
	margin: 0 auto;
} */ 
.center {
    margin: 0 auto;
    max-width: 1200px;
    width:1200px;
}
header h1 {
    text-align: center;
    margin:0;
    clear:right;
    clear:top;
}
header h1 img {
    width:6.42223em;
    padding: 0;
    margin: -4% 0% 0% 0%;
}
header h2 {
    text-align:center;
    margin:0;
}
nav ul li {
    display:inline;
    margin:0.625em 0.625em 0px 0px;
    padding: 0.4375em  1.25em 0.4375em 1.25em;
    float:right;
    color:white;
    background-color:#331135;
}
nav ul li:hover {
    background-color:#e4a909;
    color:white;
}
nav ul li:active {
    background-color:#b3b1b3;
    color:black;
}

section iframe {
    border:0;
    margin:50px 0 0 0;
    padding:0;
    width:100%;
    outline:0;

}

footer article {
    height:4.2em ;
}

footer img {
    height:95%;
    width:2%;
    margin-left:655px;
    float:left;
    clear:right;
    margin-top: 1px;
}

#map {
    height: 500px;
    width:100%;
 }
 
section image {
    width:30px;
}

.p1 {
    font-family: Tahoma;
    font-style: bold;
    float:left;
    margin-left: 10px;
    margin-top:20px;
    color: #fff;
}