body {
    background-color: #5a155e;
    font-family: 'Maven Pro', sans-serif;
   /* background-image: url(images/background.png);*/
}

/* header h1  {
    background: url(images/catuskov.png) no-repeat;
    background-size: 60%;
    height:16.555555em;
	width:11em;
	margin: 0 auto;
} */
.center {
    margin: 0 auto;
    max-width: 1200px;
    width:00px;
}
header h1 {
    text-align: center;
    margin:0;
    clear:right;
    clear:top;
}
header h1 img {
    width:7.22223em;
    padding: 0;
    margin: -3% 0% 0% 0%;
}
header h2 {
    text-align:center;
    margin:0;
}
nav ul li {
    display:inline;
    margin:0 30px 0 0;
    padding: 5px  30px 5px 30px;
    float:right;
    color:white;
    background-color:#331135;
}
nav ul li:hover {
    background-color:#b3b1b3;
    color:black;
}