body {
    background-color: #1e1e1e;
    background-image: url(images/background.png);
}

/* header h1  {
    background: url(images/catuskov.png) no-repeat;
    background-size: 60%;
    height:16.555555em;
	width:11em;
	margin: 0 auto;
} */
header h1 {
    text-align: center;
}
header h1 img {
    width:17%;
    margin:0 auto;
    text-align:center;
}
/*.center {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}*/